@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-emerald-50: oklch(0.94 0.01 160);
  --color-emerald-100: oklch(0.88 0.03 160);
  --color-emerald-200: oklch(0.81 0.06 160);
  --color-emerald-300: oklch(0.75 0.09 160);
  --color-emerald-400: oklch(0.69 0.13 160);
  --color-emerald-500: oklch(0.64 0.16 160);
  --color-emerald-600: oklch(0.58 0.18 160);
  --color-emerald-700: oklch(0.51 0.19 160);
  --color-emerald-800: oklch(0.45 0.19 160);
  --color-emerald-900: oklch(0.40 0.19 160);
  --color-emerald-950: oklch(0.28 0.16 160);

  --color-slate-50: oklch(0.98 0.00 264);
  --color-slate-100: oklch(0.95 0.01 264);
  --color-slate-200: oklch(0.91 0.01 264);
  --color-slate-300: oklch(0.86 0.02 264);
  --color-slate-400: oklch(0.73 0.03 264);
  --color-slate-500: oklch(0.60 0.04 264);
  --color-slate-600: oklch(0.49 0.04 264);
  --color-slate-700: oklch(0.40 0.04 264);
  --color-slate-800: oklch(0.33 0.04 264);
  --color-slate-900: oklch(0.27 0.04 264);
  --color-slate-950: oklch(0.18 0.03 264);
}

